<!DOCTYPE html>
    <html>
    <title>Stripe Payment Demo</title>

    <body>
        <h3>Welcome to Payment Gateway</h3>
        <form action="http://localhost:5000/rooms/api/payment" method="POST">
            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" 
            data-key="<%= key %>"
            data-amount="7000"
            data-currencya="usd"
            data-name="tushar"
            data-description="Pay for booking hotel room"
            data-locale-"auto">
            </script>
        </form>
    </body>

    </html>